body {
  margin: 0;
  padding: 0;
}
.banner{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position:absolute;
}
.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../assets/imagenes/cosasFeas.jpg)  0 0/100% 100% no-repeat;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.img {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 120%;
  padding: 20px;
  text-align: center;
}
.img p{
  color: white;
}
ion-toolbar{
  color: white;
  --background: url(../../assets/imagenes/homebackground3.jpg) 0 0/100% 100% no-repeat ;
}

.spinner{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: scale(3);
  z-index: 2;
}