ion-button{
    position: relative; 
}
ion-toolbar{
    --color: white;
    --background: linear-gradient(to bottom, #051937, #40285d, #862d70, #cb306b, #ff4f4f);
}

.grande{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #051937, #40285d, #862d70, #cb306b, #ff4f4f);
}
.img:hover{
    -webkit-box-shadow: 0px 0px 66px -11px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0px 66px -11px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 66px -11px rgba(0,0,0,0.67);
}

.img:active{
    -webkit-box-shadow: 0px 2px 8px 8px rgba(59,143,81,1);
    -moz-box-shadow: 0px 2px 8px 8px rgba(59,143,81,1);
    box-shadow: 0px 2px 8px 8px rgba(59,143,81,1);
}